body{
    font-family:'Roboto', sans-serif;
}

.container{
    width: 1440px;
    height: 100vh;
}

.module{
    display: flex;
    justify-content:center;
    align-items: center;
    
}

img{
    width:505px;
    height: 330px;
}
.content{
    width: 380px;
    height: 250px;
    font-weight: 300;
    line-height: 24px;
    margin:10%;
}

.title{
    font-size:42px;
    font-weight: 700;
}
.button{
    width:128px ;
    height:48px ;
    border-radius:32px;
    background-color: #e4c1ae;
    color:#ffffff;
    border:0;
}